// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-curious-blue: #1698d9;
$color-picton-blue: #2ea8e6;
$color-concrete: #f2f2f2;
$color-razzmatazz: #d91667;
$color-cerise-red: #e62e7a;
$color-nobel: #b3b3b3;
$color-laser-lemon: #ffff66;

// FONTS

$default: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
$font-trebuchet: "Trebuchet MS", $default;
$font-exo-thin: "Exo 2.0", $default;
